@charset "utf-8";
@font-face {
    font-family: digital;
    src: url(digital_7/digital-7.ttf);
 }

body {
    background: rgb(133, 133, 133);
    display:flex;
    text-align: center;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator {
    max-width: 360px;
    background: #1d1d1d;
    padding: 200px 40px 110px 40px;
    border-radius: 11em 11em 4em 4em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.527);
}

.antena {
    position: absolute;
    top: 30px;
    right:44%;
    background: #1d1d1d;
    width: 50px;
    height: 20em;
    border-radius: 30px;
}

#display {
    font-family:"digital";
    width: 100%;
    height: 10em;
    font-size: 20px;
    text-align: right;
    margin-bottom: 50px;
    padding: 15px;
    background-color: rgb(211, 255, 202);
    border: none;
    box-sizing: border-box;
    border-radius: 30px 30px 30px 40px;
    border: 30px solid #000000;
}

button {
    width:calc(25% - 10px);
    height: 50px;
    font-size: 20px;
    margin: 10px 5px;
    border: none;
    float: left;
    border-radius: 50%;
    font-weight: 600;
    color: #fff;
    background-color: #1d1d1d;
    border: 4px solid black;
}

button:hover {
    cursor: pointer;

}

button:active {
    transform: scale(1.1);
    transition: 0.5s;
}

.operator {
    color: rgb(204, 0, 204);

}

#ac {
    background:rgb(54, 54, 54);
}

.equal {
    width:calc(50% - 10px);
}